# Place at /etc/caddy/Caddyfile and run with sudo caddy run --config /etc/caddy/Caddyfile
owdp-pilot.internetofwater.app {
	@block_methods {
		method PATCH PUT DELETE POST
	}
	respond @block_methods 403
	reverse_proxy :8999
}

crawler.owdp-pilot.internetofwater.app {
	@block_methods {
		method DELETE
	}
	respond @block_methods 403
	reverse_proxy :3000

	basic_auth {
		iow $2a$14$3FEpAUSrD6rD2j9Tfflrt.OU5DLBmehoySE7lDtarO3uxQ7hZ.zVm
	}
}
